body{
    background-color:black;
}
h1{
    font-size: 60px;
    color:red;
    text-align: center;
}

.one{
    font-size: 60px;
    color:rgb(255, 187, 0);
    text-align: center;
}

img{
    width: 500px;
}
.anchar{
    background-color:rgb(68, 0, 255);
}

