body{
    background-color:black;
}
h1{
    font-size: 60px;
    color:red;
    text-align: center;
}
h2{

    color: darkmagenta;
    text-align: center;      
}
img{
    width: 500px;
}

